@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and common font styles */
body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: #f9f9f9;
    color: #686893;
    line-height: 1.6;
}

/* Default color and font size setup for all HTML tags */

/* Headings */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;  /* Adjust the size as per your preference */
    color: #313131;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: none;
}


/* Paragraph */
p {
    font-size: 16px;
    font-weight: normal;
    color: #686893;
    line-height: 26px;
    margin-bottom: 15px;
}

/* Lists */
ul, ol {
    margin: 15px 0;
    padding-left: 20px;
}

ul li, ol li {
    color: #333;
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Links */
a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Buttons */
/* button, input[type="submit"] {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
} */

/* Images */
img {
    max-width: 100%;
    height: auto;
}

/* Forms */
input, textarea, select {
    width: 100%;
    /* padding: 10px; */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

/* Blockquote */
blockquote {
    border-left: 5px solid #007bff;
    padding-left: 15px;
    color: #555;
    margin: 20px 0;
}

/* Horizontal line */
hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

/* Utility classes */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-20 {
    padding: 20px;
}


/* personarl css code */
header.transparent-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.header-text span {
    color: #969f9c;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    display: block;
}

.header-text h4 {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

.header-icon i{
    color: #ec6e39;
    font-size: 14px;
}

.header-icon{
    float: left;
    margin-right: 15px;
}

.header-text{
    margin-left: 15px;
    overflow: hidden;
}

.header-info ul li{
    display: inline-block;
    margin-right: 40px;
}

.header-login i{
    color: #ec6e39;
    font-size: 12px;
}
.header-login a {
    color: #c0c8d4;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.logo img{
    max-width: 22%;
    border-radius: 50%;
}

.menu-box {
    border: 2px solid #777781;
    padding: 0 38px;
}

.f-btn{
    color: #fff;
    font-size: 13px;
    background: #ec6e39;
    padding: 16px 35px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 30px;
}

.main-menu ul li{
    display: inline-block;
    margin-left: 40px;
    position: relative;
}

.main-menu ul li a{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
.main-menu ul li:hover > a{
    color: #ec6e39;
}
.header-btn{
    margin-left: 50px;
}


/* sub menu style  */
.main-menu ul li .submenu {
    position: absolute;
    background: #fff;
    width: 180px;
    top: 110%;
    left: 0;
    margin-top: 25px;
    border-top: 3px solid #ec6e39;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.main-menu ul li:hover > .submenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.main-menu ul li .submenu li{
    margin: 0;
    display: block;
    position: relative;
 }
.main-menu ul li .submenu li a {
    color: #111;
    padding: 10px 10px;
}
.main-menu ul li .submenu li:hover > a{
    color: #ec6e39;
}
.main-menu ul li .submenu li .sub-two{
    position: absolute;
    top: 0;
    left: 100%;
    background: #fff;
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    border-top: 3px solid #ec6e39;
}
.main-menu ul li .submenu li:hover > .sub-two{
    opacity: 1;
    visibility: visible;
}

.f-down{
    font-size: 14px;
    margin-left: 5px;
}
.submenu li .rotetion{
    transition: transform 0.3s ease;
}

li:hover > a .rotetion {
    transform: rotate(270deg);
}


/* hero section  */
.hero-area {
    height: 1020px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-wrapper a{
    background: #ec6e39;
    color: #fff;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    line-height: 70px;
    display: inline-block;
    margin-bottom: 25px;
    position: relative;
    z-index: 9;
}
.hero-wrapper h2 {
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
    position: relative;
    z-index: 9;
}

.back-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 300px;
    opacity: .1;
    font-family: ui-sans-serif;
}

/* testimonial setion design  */
.testimonial-title {
    position: relative;
    text-align: center;
}


.testimonial-title span {
    color: #ec6e39;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    z-index: 2;
    position: relative;
}

.testimonial-title h2 {
    font-size: 40px;
    color: #121121;
    text-transform: capitalize;
    font-weight: 700;
    z-index: 2;
    position: relative;
    line-height: 1.2;
}

.t-back {
    font-size: 70px;
    color: #121121;
    text-transform: capitalize;
    opacity: 0.1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    white-space: nowrap;
    pointer-events: none; 
}

/* testimonial content section  */
.review-icon i {
    color: #ec6e39;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.testimonial-content p {
    font-size: 16px;
}

.testimonial-content {
    border: 1.5px solid #ccc;
    border-radius: 5px;
    padding: 40px;
    position: relative;
}
.testimonial-slider{
    position: relative;
}
.testimonial-slider::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 13px 0 13px;
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    content: "";
    bottom: -15px;
    left: 65px;
}

.testimonial-content p{
    margin: 0;
}

.testimonial-autho {
    display: flex;
    margin-top: 22px;
    align-items: center;
    margin-left: 40px;
}

.testimonial-author-info {
    margin-left: 14px;
    line-height: 0;
}

.testimonial-author-info h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
}

.testimonial-author-info span {
    font-size: 12px;
    color: #ec6e39;
    text-transform: uppercase;
    font-weight: 700;
}


/* faq accordion  */
.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 10px;
}

.accordion-body p {
    padding: 30px 23px;
}

.accordion-button .icon-toggle {
    margin-left: auto;
    transition: transform 0.2s;
}
  
.accordion-button:not(.collapsed) .icon-toggle {
    content: '\f068';
    transform: rotate(180deg);
}
.fa-plus:before {
    content: "\2b";
    font-size: 20px;
    color: #ec6e39;
}
.fa-minus:before {
    content: "\2212"; 
    font-size: 20px;
    color: #ec6e39;
}

/* event area style  */
.event-area{
    background: #f2edff;
}

.event-btn {
    position: absolute;
    top: 30px;
    left: 40px;
    right: 0;
}

a.event-button {
    padding: 12px 25px;
    border: 2px solid #e5e5e5;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}


.event-content-area span {
    font-size: 14px;
    font-weight: 700;
    color: #ec6e39;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.event-content-area h2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 20px;
}

.event-content-area p {
    font-size: 16px;
}

a.event-content-btn {
    /* margin-top: 20px; */
    padding: 13px 27px;
    background: #ec6e39;
    margin-top: 20px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 50px;
}

.back-area {
    background: #fff;
    padding: 0;
}

.event-content-area {
    padding: 56px 56px 56px 20px;
}
.event-con-btn {
    padding-top: 25px;
}

.ev-back{
    font-size: 120px;
    color: #121121;
    text-transform: capitalize;
    opacity: 0.1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    white-space: nowrap;
    pointer-events: none; 
}

.price-event{
    padding: 0;
}

.price-round h4 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    margin-top: -6px;
}

.price-round span {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.price-round {
    display: inline-block;
    background: #ec6e39;
    padding: 15px;
    text-align: center;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 23px;
    right: 30px;
}


.eve-img img {
    width: 100%;
}
.pri-con{
    background: #fff;
    padding: 40px 15px;
}
.pri-con h2 {
    font-size: 20px;
    text-align: center;
}
.pri-con p {
    font-size: 16px;
    text-align: center;
}

/* out team section area style  */
.team-back {
    font-size: 120px;
    color: #121121;
    text-transform: capitalize;
    opacity: 0.1;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    white-space: nowrap;
    pointer-events: none;
    font-family: serif;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1.5px solid #dedcdc;
    border-radius: none;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15); 
    border-color: transparent;
}
.team-card h5 {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px;
}
.card-body p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ec6e39;
}

.social-icons i {
    color: #bab9d4;
    font-size: 14px;
    letter-spacing: 12px;
    transition: color 0.3s ease;
}
.social-icons i:hover {
    color: #ec6e39;
}


/* contact area  */
.contact-area {
    position: relative;
    background-size: cover;
    background-position: center;
}

.bg-overly::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .7;
    z-index: 1;
}

.contact-area .container {
    position: relative;
    z-index: 2;
}

.contact-input label {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contact-input span {
    color: #ec6e39;
}

.contact-input input {
    background: none;
    padding: 10px 0;
    color: #fff;
    padding-left: 30px;
}
.contact-input input::placeholder {
    color: #969f9c;
    font-size: 14px;
}
.contact-input input:focus::placeholder{
    color: transparent;
}

.contact-input select {
    background: none;
    padding: 10px 0;
    color: #fff;
    padding-left: 30px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #969f9c;
    font-size: 14px;
}

.input-select {
    position: relative;
}

.input-select::after{
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    position: absolute;
    top: 23px;
    right: 30px;
    font-size: 14px;
    color: #ffffff;
    pointer-events: none; 
}

.join-btn {
    background: #ec6e39;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-back {
    font-size: 96px;
    color: #f4f3ff;
    text-transform: capitalize;
    opacity: 0.1;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    white-space: nowrap;
    pointer-events: none;
    font-family: serif;
}

.content-2 h2{
    color: #fff;
}


/* upcoming event area */
.up-event-area{
    background: #f2edff;
}

.date-box {
    background: #ec6e39;
    width: 140px;
    height: 140px;
    padding-top: 40px;
}

.float-left{
    float: left;
}
.date-box h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.date-box small {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
}
.event-info i{
    margin-right: 10px;
}
.event-info p {
    font-size: 16px;
    color: #686893;
}

.event-info h5 {
    font-size: 36px;
    font-family: 'Poppins';
    letter-spacing: -2px;
    margin-bottom: 10px;
}

.btn-event {
    font-size: 14px;
    color: #bec1d4;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px solid #bec1d4;
    padding: 10px 25px;
    border-radius: 50px;
}
.btn-event:hover {
    background: #ec6e39;
    border: none;
    color: #fff;
}
.event-content {
    background: #fff;
    padding: 50px;
}


/* counter area style  */
.single-count {
    border-right: 3px solid #232239;
    padding: 80px 0;
}
.single-count h1{
    color: #fff;
    font-size: 60px;
    margin-top: 15px;
}
.single-count span {
    font-size: 16px;
    letter-spacing: 2px;
}

.sing-co{
    text-transform: uppercase;
    font-weight: 700;
}

/* latest new area style  */

.news-thum img {
    width: 100%;
}
.news-content {
    background: #fff;
    padding: 40px;
    padding-top: 35px;
}

.news-content span {
    color: #ec6e39;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.news-content h4 a {
    color: #000;
    font-size: 20px;
    letter-spacing: -1px;
}
.news-content p {
    font-size: 14px;
    color: #686893;
    font-family: sans-serif;
}
.icon-read-more i {
    color: #ec6e39;
}










